<!-- Generated template for the FoodsComponent component -->
<ion-header>

    <ion-navbar>
      <button ion-button icon-only menuToggle>
        <ion-icon name="menu"></ion-icon>
      </button>

      <ion-title>
        Food Search
      </ion-title>

      <ion-buttons end>

      </ion-buttons>
    </ion-navbar>

  </ion-header>
<ion-content>
  <ion-searchbar [(ngModel)]="searchText">
  </ion-searchbar>
  <button ion-button (click)="search()">
    Search
  </button>
  <ion-list>
    <ion-item *ngFor="let food of foodsList" (click)="openFoodDetail(food.ndbno)">
      {{food.name}}
       <button ion-button icon-only>
        <ion-icon name="star"></ion-icon>
      </button>
    </ion-item>
  </ion-list>
</ion-content>

